*{
    margin:0px;
    padding:0px;
}

body{
    background-image: url('../images/blurrylights.jpg');
    height: 1000px;
    width: 1500px;
    overflow: hidden;
    opacity: .85;
    background-attachment: fixed;
}

.card_login{
    background-color:rgba(192, 192, 192, 0.555);
    width: 1300px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: max-content;
    border-radius: 20px;
}

span{
    color:red;
}

#wrapper{
    padding-bottom: 30px;
    margin-bottom: 30px;
}