*{
    margin:0px;
    padding:0px;
}

body{
    background-image: url("../images/blurrylights.jpg");
    background-attachment: fixed;
    min-height: 100%;
    min-width: 1024px;
    /* height: 600px;
    width: 1500px; */
    /* overflow: hidden; */
    opacity: .85
}

.card{
    background-color:rgba(192, 192, 192, 0.555);
    width: 1300px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 400px;
    margin-left: 120px;
    border-radius: 30px;
}

p{
    text-align: center;
    color: white;
}

#section1{
    display: block;
} */
#section1 > img{
    width:150px;
    height:150px;
}

#c_user{
    display: flex;
    height: 400px;
    padding: 30px;
    justify-content: center;
}

#c_user > a{
    margin-right: 40px;
}

#c_user > a > img{
    border: solid 10px black;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

h2{
    color:white;
}

h1{
    margin-left: 50px;

}

#cname{
    margin-left: 30px;
}

#cname1{
    margin-right: 10px;
}

#home_img > img{
    border: solid 10px black;
}